<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honliv.wechat.dao.JsapiTicketMapper" >
	
	<update id="updateJsapiTicket" parameterType="com.honliv.wechat.bean.JsapiTicket" >
    UPDATE App_Jsapi_Ticket
    SET ticket = #{ticket,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=INTEGER},
      appid = #{appid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>